PORT=3001

# Chaves do Mercado Pago
MP_ACCESS_TOKEN=APP_USR-123456789-XXXXX-XXXXXXXXXX
MP_PUBLIC_KEY=APP_USR-00000000-XXXX-XXXX-XXXX-XXXXXXXXX

# Chaves da Omie
OMIE_APP_KEY=1234567890
OMIE_APP_SECRET=xxxxxxxxxxxxxxxxxxxxx
